<% layout("/layouts/boilerplate") %>
    <!---<form method="get" action="/listings/new">
        <button>Add New</button>
    </form> -->
    <div class="row mt-3">
        <div class="col">
            <h3 >All Listings</h3>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            <% for(list of lists) { %>
                <a href="/listings/<%= list._id %>" style="text-decoration: none;" class="cards">
                    <div class="card col">
                        <img src="<%= list.image %>" class="card-img-top" alt="..." style="height: 20rem;">
                        <div class="card-body">
                          <p class="card-text">
                            <b><%= list.title %></b> <br>
                            &#8377; <%= list.price.toLocaleString("en-IN") %> /night
                        </p>
                        </div>
                      </div>
                </a>
            <% } %>
        </div>
    </div>
    